rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // MODE INITIALISATION - Autoriser tout temporairement
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
